* {
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.hidden {
  display: none;
}
img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
